# 忽略所有文件
*

# 允许追踪所有子目录，以便 Git 能够进入这些目录查找需要追踪的文件
!*/

# 仅允许追踪 .py 和 .sh 格式的文件
!*.py
!*.sh

# 明确忽略特定的数据集目录和非脚本文件
data/Benthic/
data/cifar-*/
data/cub200/
data/CUB_200_2011/
data/Plankton/
data/Treeversity*/
data/data/
data/*.tar.gz
data/attributes.txt

# 忽略其他特定平台或非源代码文件夹
plankton/
treeversity/
benthic/

# 确保追踪 .gitignore 文件本身
!.gitignore
